{{#if personalHistory }}
    <h4>Your History</h4>
    <table class="table table-sm table-striped my-2">
        {{#each personalHistory }}
            <tr>
                <td>{{ this.name }} </td>
                <td>{{ this.age }} </td>
                <td>{{ this.years }} </td>
                <td>{{ this.nextage }} </td>
            </tr>
        {{/each }}
    </table>
{{/if }}

<h4>Recent Queries</h4>

<table class="table table-sm table-striped my-2">
    <thead>
        <tr>
            <th>Name</th><th>Age</th><th>Years</th><th>Result</th>
        </tr>
    </thead>
    <tbody>
        {{#unless history }}
            <tr><td colspan="4">No data available</td></tr>
        {{/unless }}
        {{#each history }}
            <tr>
                <td>{{ this.name }} </td>
                <td>{{ this.age }} </td>
                <td>{{ this.years }} </td>
                <td>{{ this.nextage }} </td>
            </tr>
        {{/each }}
    </tbody>
</table>
