<tr id="row{{ id }}">
    <td>{{ id }}</td>
    <td>{{ name }}</td>
    <td>{{ category.name  }}</td>
    <td>{{ supplier.name  }}</td>
    <td class="text-end">{{ currency price}}</td>
    <td class="ps-3">        
        <button class="btn btn-sm btn-warning" 
            hx-get="/api/products/edit/{{id}}" hx-target="#content"
                hx-push-url="/admin/products/edit/{{id}}">
                Edit
            </button>
        <button class="btn btn-sm btn-danger" 
            hx-delete="/api/products/{{id}}" hx-target="#row{{id}}" 
                    hx-swap="delete">
                Delete
        </button>            
    </td>
</tr>
